<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>注册</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
<form class="">
    <div class="form-group col-md-4 col-md-offset-4">
        <label>账号</label>
        <input type="text" class="form-control" placeholder="请输入验证码">
    </div>
    <div class="form-group col-md-4 col-md-offset-4">
        <label>邮箱</label>
        <input type="password" class="form-control" placeholder="请输入邮箱">
    </div>
    <div class="form-group col-md-4 col-md-offset-4">
        <label>密码</label>
        <input type="password" class="form-control" placeholder="请输入密码">
    </div>
    <div class="form-group col-md-4 col-md-offset-4">
        <label>重复密码</label>
        <input type="password" class="form-control" placeholder="请输入密码">
    </div>
    <div class="form-group col-md-4 col-md-offset-4">
        <label>简介</label>
        <input type="text" class="form-control" placeholder="请输入简介">
    </div>
</form>
</div>

</body>
</html>